* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* setting up the header of the page */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: auto;
    background-color: #FF6900;
}

header .left-menu ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header .left-menu ul li {
    list-style: none
}

header .left-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 800;
}

header .logo-container img {
    width: 110px;
    position: relative;
    right: 30px;
}

header .right-menu {
    display: flex;
    flex-direction: row;
    width: 40px;
    gap: 6px;
    color: white;
}

/* content of the page with the differrents clothes */

.content {
    width: 75%;
    margin: 2% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-box {
    display: flex;
    flex-direction: column;
    max-width: 340px;
}

.content-box-description {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.content-box-description .brand-name {
    font-size: 10px;
    font-weight: 100;
}

.content-box-description .description-clothes { 
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.content-box-description-price {
    position: relative;
    bottom: 5px;
}

.content-box-description-price .actual-price{
    color: red;
    font-size: 12px;
}

.content-box-description-price .full-price {
    font-size: 12px;
    text-decoration: line-through;
}
